.breadcrumb {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0.5rem 0;
}

.breadcrumb ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumb li:not(:last-child){
    display: flex;
    align-items: center;
}

.breadcrumb li a{
    color: var(--gray-dark);
}

.breadcrumb li a:hover,
a:focus {
    color: var(--red-primary);
}

.breadcrumb li i{
    color: var(--gray-light);
}
